body{
  background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8V2FuZGhpbnRlcmdydW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	display: flex;
	min-height: 100vh;
  }
  button{
}
#button:hover{
  cursor: pointer;
}
#button:hover{
  background-color: #7FFFD4;
  color: black;
  box-shadow: 0 0 10px 0 #7FFFD4 inset, 0 0 10px 14px #fff;
  border: 5px solid #7FFFD4;

  font-family: Caveat;
  font-size: 25px;
}
#button{
  margin: 20px;
  background-color: #3498DB;
  border: 5px solid #3498DB;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  box-sizing: content-box;
  width: 200px;
  height: 70px;
  font-family: Caveat;
  font-size: 40px;
}
